:root {
    --main-background: #4666B1;
    --primary-color: #4666B1;
    --default-text-color: #ffffff;
    --donate-item-text-color: #000000;
    --default-border-color: #ffffff;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;

    display: flex;
    justify-content: space-evenly;
    
    flex-wrap: wrap;
    padding: 20px;
    overflow: hidden;

    color: var(--default-text-color);
    background: var(--main-background);
    box-sizing: border-box;
}
