:root {
    --main-background: #4666B1;
    --primary-color: #4666B1;
    --default-text-color: #ffffff;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;

    display: flex;
    justify-content: space-evenly;
    
    flex-wrap: wrap;
    padding: 20px;
    overflow: hidden;

    color: var(--default-text-color);
    background: var(--main-background);
    box-sizing: border-box;
}

#root {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.header__title {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.header__image {
    width: 150px;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer__today {
    margin-bottom: 20px;
    font-size: 25px;
}

.timer__text {
    letter-spacing: 1px;
}